<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Welcome</title>
</head>
<body>
<h1>Welcome Page</h1>
<p>Welcome to Spring Security</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
<!--    <button onClick="logout()" class="btn btn-primary"> Sign out</button>-->
</form>
<!--<script>-->
<!--var logout = function() {-->
<!--$.post("/logout", function() {-->
<!--$("#user").html('');-->
<!--$(".unauthenticated").show();-->
<!--$(".authenticated").hide();-->
<!--})-->
<!--return true;-->
<!--}-->
<!--</script>-->

</body>
</html>
